!Build/
*.ERR
*.bak
*.bs
*.o
*.old
*.orig
*.pm.tdy
*.rej
*.swp
*.tar.gz
*.test_info.*.json
*.test_info.json
*~
.last_cover_stats
.testsharedjobslots.yml
.yath-persist.json
/*.gz
/*.jsonl
/*.zip
/.build
/.build/
/MANIFEST.bak
/MYMETA.*
/Makefile
/Makefile.old
/Test2-*/
/Test2-Harness-Renderer-JUnit-*
/_eumm/
/blib/
/old*/
/pm_to_blib
/pt/
/tt/
Build
Build.bat
MYMETA.*
Makefile
POD_TEMPLATE.POD
TODO
_build
_build/
blib/
cover_db/
coverage.json
demo/MooseC*
demo/rando*
demo/xxx
event-log-*
how_it_works
inc/
lastlog-1.*
lastlog.*
nytprof.out
pm_to_blib
t/integration/test-broken-symlinks/broken-symlink.tx
t2/non_perl/test.binary
t2_lib
test-logs/
xxx
.immiscible-test.lock
