*.swp
*.bak
*~
*.old
*.tar.gz
*.ERR
*.orig
*.rej
Makefile
blib/
pm_to_blib
Build
_build
cover_db/
MYMETA.*
/Test2-*/
/.build
TODO
t2_lib
POD_TEMPLATE.POD
/old*/
event-log-*
.yath-persist.json
test-logs/
/pt/
/tt/
/*.jsonl
t2/non_perl/test.binary
t/integration/test-broken-symlinks/broken-symlink.tx
coverage.json
lastlog.*
lastlog-1.*
*.test_info.json
*.test_info.*.json
.testsharedjobslots.yml
xxx

!Build/
.last_cover_stats
/MYMETA.*
*.o
*.pm.tdy
*.bs
*.ERR
*.bak

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip
/Test2-Harness-Renderer-JUnit-*
