div.run_list {
    display: block;
    overflow: hidden;
    max-width: 500px;
    border-radius: 15px;
    border: 1px solid black;
    min-height 200px;
    padding: 4px;
    margin: 0;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
}

div.run_list h3 {
    text-align: center;
    margin: 0;
    border-bottom: 1px dashed #E0E0E0;
}

div.run_list ul.run_list {
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0px;
}

div.run_list ul.run_list li {
    margin: 0;
    border: 1px dotted #A0A0A0;
    margin-bottom: 4px;
    border-radius: 4px;
    overflow: hidden;
    padding: 3px;
}

div.run_list ul.run_list li.pass {
    border: 1px solid #00C000;
    background: #F0FFF0;
}

div.run_list ul.run_list li.fail {
    border: 1px solid #FF0000;
    background: #FFF0F0;
}

div.run_list ul.run_list li.pending {
    border: 1px solid #0000FF;
    background: #F0F0FF;
}

div.run_list ul.run_list li div.run_name {
    margin: 0;
    display: block;
    overflow: hidden;
    border-bottom: 1px dotted #A0A0A0;
}

div.run_list ul.run_list li div.pass {
    text-align: left;
    display: block;
    float: left;
    width: 33%
}

div.run_list ul.run_list li div.fail {
    text-align: center;
    display: block;
    width: 34%;
    float: left;
    clear: none;
}

div.run_list ul.run_list li div.total {
    text-align: right;
    display: block;
    float: left;
    clear: none;
    width: 33%
}
