div.dashboard_runs.grid > div.tools {
    text-align: left;
}

div.dashboard_runs.grid > div.uuid > a.etoggle {
    width: auto;
    text-decoration: none;
}

div.dashboard_runs.grid > div.tools > .tool {
    display: inline-block;
    margin-right: 4px;
}
div.dashboard_runs.grid > div.tools > .tool:last-child {
    margin-right: inherit;
}

div.dashboard_runs.grid > div.tools > div.tool.error {
    color: red;
}

div.dashboard_runs.grid > div.pass {
    text-align: center;
}

div.dashboard_runs.grid > div.fail {
    text-align: center;
}

