div.event {
    margin-top: 2px;
    margin-bottom: 2px;
    border-bottom: 2px solid #C0C0C0;
}

div.event.orphan table {
    font-style: italic;
    color: #A0A0A0;
}
div.event.orphan table:hover {
    color: black;
}

div.event.no_lines table {
    color: #A0A0A0;
}
div.event.no_lines table:hover {
    color: black;
}

div.event > table > tr.facet_data {
    display: none;
}

div.event > table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

div.event td.event_content {
    padding: 0px;
    overflow: hidden;
}

div.event td.event_content pre {
    padding: 1px;
    overflow: auto;
    padding-left: 4px;
}

div.event td.event_content pre {
    border-left: 1px solid transparent;
}

div.event.nested td.event_content pre {
    border-left: 1px solid #A0A0A0;
}

div.event td.event_content, div.event td.event_content pre {
    font-size: 16px;
    margin: 0;
}

div.event > table > tr {
    border-top: 1px dotted #C0C0C0;
    max-width: 100%;
}

div.event > table > tr:first-child {
    border-top: none;
}

div.event > table > tr > th {
    vertical-align: top;
    width: 8ch;
    font-weight: normal;
    white-space: nowrap;
}

div.event > table > tr > td.controls, div.event > table > tr > td.no_controls {
    vertical-align: top;
    width: 2.4ch;
}

div.subtest_control.etoggle {
    display: block;
    width: 2ch;
    float: left;
    text-align: center;
    margin-left: -2.5ch;
    margin-right: -2.5ch;
}

div.subtest_control.etoggle:after {
    content: '+';
}

div.subtest_control.etoggle.clicked:after {
    content: '-';
}

.etoggle {
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: black;
    font-weight: bold;
}

.etoggle:hover, .etoggle.clicked {
    border-color: #AABBFF;
    background: #DDEEFF;
}

.etoggle.clicked:hover {
    background: inherit;
}

div.event > table > tr > td.controls > div {
    display: block;
    float: left;
    width: 2ch;
}

div.event > table > tr > td.left, div.event > table > tr > td.right {
    vertical-align: top;
    width: 1ch;
}
div.event > table > tr > td.left:after {
    font-weight: bold;
    content: '[';
    text-align: center;
}
div.event > table > tr > td.right:before {
    font-weight: bold;
    content: ']';
    text-align: center;
}

div.event div.expander.facets {
    border-radius: 0;
    border: none;
    padding: 0px;
    margin: none;
    background: inherit;
}

div.event div.expander.facets > div.expander-head {
    border: none;
    border-radius: 0;
    background: inherit;
}

div.event div.expander.facets > div.expander-body {
    margin: 0;
}

div.event > table > tr.amnesty > td.left:after   { content: '{'; }
div.event > table > tr.amnesty > td.right:before { content: '}'; }
div.event > table > tr.info    > td.left:after   { content: '('; }
div.event > table > tr.info    > td.right:before { content: ')'; }
div.event > table > tr.error   > td.left:after   { content: '<'; }
div.event > table > tr.error   > td.right:before { content: '>'; }

/* Rules for facets */
div.event > table > tr.time    {  color: #12539e;                     }
div.event > table > tr.about   {  color: #000000;                     }
div.event > table > tr.amnesty {  color: #0f6989;                     }
div.event > table > tr.assert  {  color: #000000;                     }
div.event > table > tr.control {  color: #b26521;                     }
div.event > table > tr.error   {  color: #af0c0c;                     }
div.event > table > tr.info    {  color: #000000;                     }
div.event > table > tr.meta    {  color: #000000;                     }
div.event > table > tr.parent  {  color: #000000;                     }
div.event > table > tr.trace   {  color: #b26521;                     }
div.event > table > tr.plan    {  color: #3d6011;                     }

/* Rules for tags */
div.event > table > tr.DEBUG    { color: #b26521;                     }
div.event > table > tr.DIAG     { color: #b23721;                     }
div.event > table > tr.ERROR    { color: #af0c0c;                     }
div.event > table > tr.FATAL    { color: #c10000;                     }
div.event > table > tr.FAIL     { color: #c10000;                     }
div.event > table > tr.HALT     { color: #c10000;                     }
div.event > table > tr.PASS     { color: #266d39;                     }
div.event > table > tr.N-PASS-N { color: #1d756d;                     }
div.event > table > tr.TODO     { color: #521d93;                     }
div.event > table > tr.NO--PLAN { color: #d17c32;                     }
div.event > table > tr.SKIP     { color: #67156d;                     }
div.event > table > tr.SKIP-ALL { color: #FFFFFF; background: #026b09 }
div.event > table > tr.STDERR   { color: #bc7d16;                     }
div.event > table > tr.REASON   { color: #b26521;                     }
div.event > table > tr.TIMEOUT  { color: #b26521;                     }
div.event > table > tr.TIME     { color: #12539e;                     }
