div.events {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: min-content min-content min-content min-content auto;
}

div.events > div {
    text-align: center;
    vertical-align: top;
}

div.events:empty:after {
    grid-column-start: 1;
    grid-column-end: 6;
    content: "No events, or events not saved.";
}

div.event_break {
    grid-column-start: 1;
    grid-column-end: 6;
    height: 1px;
    border-bottom: 1px dotted #E6E6E6;
}

div.event_controls {
    grid-column-start: 1;
    grid-column-end: 2;
}

div.event_lbrace {
    grid-column-start: 2;
    grid-column-end: 3;
}

div.event_tag {
    grid-column-start: 3;
    grid-column-end: 4;
}

div.event_rbrace {
    grid-column-start: 4;
    grid-column-end: 5;
}

div.event_c_wrap {
    grid-column-start: 5;
    grid-column-end: 6;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: min-content auto;
}

div.event_st_gap {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 1px solid #D0D0D0;
    width: 3ch;
}

div.event_content {
    text-align: left;
    vertical-align: top;
    padding-left: 4px;
    white-space: pre;
    grid-column-start: 2;
    grid-column-end: 3;
}

.etoggle {
    display: block;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 14px;
    width: 1.8ch;
    text-align: center;
    vertical-align: middle;
}

.etoggle:hover, .etoggle.clicked {
    border-color: #AABBFF;
    background: #DDEEFF;
}

div.subtest.etoggle {
    float: right;
}

div.subtest.etoggle.clicked {
    background: inherit;
}
div.subtest.etoggle.clicked:after {
    display: block;
    content: ' ';
    border: 3px solid #E0E0E0;
    border-top: 3px solid #2040E0;
    border-radius: 50%;
    width: 1ch;
    height: 1ch;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div.subtest.etoggle:after {
    content: '+';
}

div.event_lbrace:after {
    font-weight: bold;
    content: '[';
    text-align: center;
    font-size: 14px;
}
div.event_rbrace:before {
    font-weight: bold;
    content: ']';
    text-align: center;
    font-size: 14px;
}

div.events div.open_event_json {
    cursor: pointer;
}
div.events div.open_event_json:hover {
    color: #0022AA;
}

div.events > div.event_lbrace.amnesty:after  { content: '{'; }
div.events > div.event_rbrace.amnesty:before { content: '}'; }
div.events > div.event_lbrace.info:after     { content: '('; }
div.events > div.event_rbrace.info:before    { content: ')'; }
div.events > div.event_lbrace.error:after    { content: '<'; }
div.events > div.event_rbrace.error:before   { content: '>'; }

div.events > div.time    {  color: #12539e; }
div.events > div.about   {  color: #000000; }
div.events > div.amnesty {  color: #0f6989; }
div.events > div.assert  {  color: #000000; }
div.events > div.control {  color: #b26521; }
div.events > div.error   {  color: #af0c0c; }
div.events > div.info    {  color: #000000; }
div.events > div.meta    {  color: #000000; }
div.events > div.parent  {  color: #000000; }
div.events > div.trace   {  color: #b26521; }
div.events > div.plan    {  color: #3d6011; }

div.events div.hidden       { color: #A0A0A0; }
div.events div.hidden:hover { color: inherit; }

div.events div.orphan       { color: #A0A0A0; background: #F0F0F0; font-style: italic; }
div.events div.orphan:hover { color: inherit; background: inherit; }

div.events > div.DEBUG    { color: #b26521;                     }
div.events > div.DIAG     { color: #b23721;                     }
div.events > div.ERROR    { color: #af0c0c;                     }
div.events > div.FATAL    { color: #c10000;                     }
div.events > div.FAIL     { color: #c10000;                     }
div.events > div.HALT     { color: #c10000;                     }
div.events > div.PASS     { color: #266d39;                     }
div.events > div.N-PASS-N { color: #1d756d;                     }
div.events > div.TODO     { color: #521d93;                     }
div.events > div.NO--PLAN { color: #d17c32;                     }
div.events > div.SKIP     { color: #67156d;                     }
div.events > div.SKIP-ALL { color: #FFFFFF; background: #026b09 }
div.events > div.STDERR   { color: #bc7d16;                     }
div.events > div.REASON   { color: #b26521;                     }
div.events > div.TIMEOUT  { color: #b26521;                     }
div.events > div.TIME     { color: #12539e;                     }

