div.job div.expander {
    background: inherit;
    border-color: inherit;
    margin-bottom: -1px;
}

div.job {
    margin-top: 8px;
}

div.job:empty:after {
    content: "No events, or events not saved.";
}

div.job dl.job_controls dt {
    float: left;
    width: auto;
    margin: 0;
    padding: 0px;
}

div.job dl.job_controls dd {
    float: left;
    width: auto;
    margin: 0;
    padding: 0px;
    margin-right: 20px;
    cursor: pointer;
}

div.job dl.job_controls dd:hover {
    color: #204090;
}

div.expander.job > div.expander-body.open {
    border: 1px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0px;
    background: white;
}


div.expander.job div.expander-body.open > div.expander.details {
    border: none;
    border-bottom: 1px solid;
    max-height: 40%;
    overflow: auto;
    background: #E5E5E5;
}

div.expander.job div.expander-body.open > div.expander.details > div.expander-head {
    background: #D5D5D5;
}
