div#header_wrapper {
    overflow: hidden;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding-bottom: 8px;
    z-index: 10;
}

div#footer_wrapper {
    overflow: hidden;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    padding-top: 8px;
    padding-bottom: 4px;
    z-index: 10;
}

div#header {
    border-bottom: 1px solid #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

div#footer {
    text-align: right;
    font-size: small;
    padding-top: 5px;
    padding-right: 20px;

    border-top: 1px solid #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    margin-left: 10px;
    margin-right: 10px;
}

div#main_wrapper {
    margin-top: 112px;
}

@media only screen and (max-height: 500px) {
    div#header_wrapper {
        position: static;
    }

    div#footer_wrapper {
        position: static;
    }

    div#main_wrapper {
        margin-top: 6px;
    }
}


div#header h1 {
    padding-left: 50px;
    margin-top: 2px;
    margin-bottom: 6px;
}

div#header div#login_header {
    display: block;
    padding: 4px;
    position: absolute;
    top: 4px;
    right: 4px;

    margin-left: 100px;
    margin-bottom: 100px;

    border: 1px dotted #3030FF;
    border-radius: 5px;
}

div#header div#login_header a.login {
    text-decoration: none;
    color: #008000;
}

div#header div#login_header a.logout {
    text-decoration: none;
    color: #FF2020;
}

div#header ul#nav_main {
    list-style: none;
    overflow: hidden;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

div#header ul#nav_main li {
    display: block;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

div#header ul#nav_main li:hover {
    border-bottom: 1px solid #A04040;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

div#header ul#nav_main li.split {
    width: 1px !important;
    background: #b0b0b0 !important;
    padding: 0px !important;
    margin: 0 !important;
    border: none !important;
}

div#header ul#nav_main li a {
    text-decoration: none;
    color: #000080;
}

div#content {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
}

dl.tiny {
    list-style: none;
    overflow: hidden;
}

dl.tiny > dt {
    float: left;
    margin: 0;
    width: 100px;
    margin-right: -160px;
    padding-top: 4px;
}

dl.tiny > dd {
    float: left;
    margin: 0;
    width: 100%;
    padding-left: 110px;
    padding-top: 4px;
}

dl.form {
    list-style: none;
    overflow: hidden;
}

dl.form > dt, dl.form > .wrapper > dt {
    float: left;
    margin: 0;
    width: 150px;
    margin-top: 12px;
    margin-right: -160px;
    padding-top: 4px;
}

dl.form > dd, dl.form > .wrapper > dd {
    float: left;
    margin: 0;
    width: 100%;
    margin-top: 12px;
    padding-left: 160px;
    padding-top: 4px;
    border-top: 1px dotted #d0d0d0;
}

div#errors {
    color: #FF4040;
    border: 1px solid #FF0000;
    border-radius: 10px;
    padding: 5px;
    background: #FFF0F0;
}

div#messages {
    color: #007000;
    border: 1px solid #00C000;
    border-radius: 10px;
    padding: 5px;
    background: #F0FFF0;
}

dl.medium {
    list-style: none;
    overflow: hidden;
}

dl.medium > dt {
    float: left;
    margin: 0;
    width: 140px;
    margin-right: -160px;
    padding-top: 4px;
}

dl.medium > dd {
    float: left;
    margin: 0;
    width: 100%;
    padding-left: 140px;
    padding-top: 4px;
}

div.expander {
    display: block;
    border-radius: 6px;
    border: 1px solid #000000;
    background: #EAEAEA;
    padding: 6px;
}

div.expander-head {
    display: block;
    padding: 6px;
    cursor: pointer;
    border-radius: 6px;
    margin: -6px;
    background: inherit;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
}
div.expander-head:hover {
    filter: brightness(90%);
}

div.expander-head div.expander-title {
    display: inline-block;
}

div.expander-head:after {
    content: "+";
    width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

div.expander-head.open {
    border-bottom: 1px dotted #C0C0C0;
}

div.expander-head.open:after {
    content: "-";
}
div.expander-head.closed:after {
    content: "+";
}

div.expander-body {
    display: block;
    margin-top: 12px;
    padding: 4px;
    overflow: auto;
    max-height: 70vh;
}

div.expander-body.closed {
    display: none;
}

div.expander-body.open {
    display: block;
}

.spinner:before {
    position: sticky;
    top: 10px;
    left: 10px;
    display: block;
    content: ' ';
    border: 10px solid #E0E0E0;
    border-top: 10px solid #2040E0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    z-index: 1000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div#free_modal {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #E5E5E5;
    background: rgba(229, 229, 229, 0.8);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    cursor: pointer;
}

div#modal_inner_wrap {
    width: auto;
    height: 90%;
    margin: 2%;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    top: 0px;
    left: 0px;
    cursor: default;
    overflow: hidden;
}

div#modal_close {
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
}

div#modal_close:hover {
    color: orange;
}

div#modal_body {
    overflow: auto;
    margin-top: 3ch;
    height: calc(100% - 4ch);
    margin-left: 1ch;
}

.etoggle {
    display: block;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 14px;
    width: 1.8ch;
    text-align: center;
    vertical-align: middle;
}

.etoggle:hover, .etoggle.clicked {
    border-color: #AABBFF;
    background: #DDEEFF;
}

div.grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: min-content;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background: #C0C0C0;
    overflow: auto;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

div.grid > div {
    display: block;
    text-align: left;
    vertical-align: top;
    background: #F8F8F8;
    padding: 2px 4px;
    white-space: nowrap;
}

div.grid > div.hover {
    filter: brightness(90%);
}

div.grid > div.head {
    font-weight: bold;
    text-align: center;
    padding: 3px 6px;
}

div.grid > div.pending {
    background: #C0D0F0;
}

div.grid > div.running {
    animation: running_pulse 2s infinite !important;
}
@keyframes running_pulse {
    0% { background-color: #B0C0E0 }
    50% { background-color: #CFDFFF }
    100% { background-color: #B0C0E0 }
}

div.grid > div.failed {
    background: #A08080;
}

div.grid > div.failing {
    background: #F0D0D0;
}

div.pass {
    color: #009000;
}

div.fail {
    color: #F02222;
}

div.grid > div.passing {
    background: #D0F0D0;
}

div.grid > div.col1  { grid-column: 1  / 2;  }
div.grid > div.col2  { grid-column: 2  / 3;  }
div.grid > div.col3  { grid-column: 3  / 4;  }
div.grid > div.col4  { grid-column: 4  / 5;  }
div.grid > div.col5  { grid-column: 5  / 6;  }
div.grid > div.col6  { grid-column: 6  / 7;  }
div.grid > div.col7  { grid-column: 7  / 8;  }
div.grid > div.col8  { grid-column: 8  / 9;  }
div.grid > div.col9  { grid-column: 9  / 10; }
div.grid > div.col10 { grid-column: 10 / 11; }
div.grid > div.col11 { grid-column: 11 / 12; }
div.grid > div.col12 { grid-column: 12 / 13; }
div.grid > div.col13 { grid-column: 13 / 14; }
div.grid > div.col14 { grid-column: 14 / 15; }
div.grid > div.col15 { grid-column: 15 / 16; }
div.grid > div.col16 { grid-column: 16 / 17; }
div.grid > div.col17 { grid-column: 17 / 18; }
div.grid > div.col18 { grid-column: 18 / 19; }
div.grid > div.col19 { grid-column: 19 / 20; }
div.grid > div.col20 { grid-column: 20 / 21; }


