
/*
div.run {
    display: block;
}

div.run > div {
    display: block;
    border-radius: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

div.run > div:empty {
    display: none;
}

div.run div.log > div {
    background: #E5E5E5;
}

div.run div div.expander {
    border-color: inherit;
    margin-bottom: -1px;
}
*/
